apiVersion: v1
kind: ConfigMap
metadata:
  name: game-catalog
  namespace: gshub
data:
  games.yaml: |
    games:
      minecraft:
        name: "Minecraft: Java Edition"
        image: "itzg/minecraft-server:latest"
        ports: 
        - name: "game"
          port: 25565
          protocol: "TCP"
        volumes: 
        - name: "data"
          mount_path: "/data"
          sub_path: "data"
        env:
          EULA: "TRUE"
          TYPE: "PAPER"
        plans:
          small:
            name: "Small"
            cpu: "1"
            memory: "2Gi"
            storage: "5Gi"
          medium:
            name: "Medium"
            cpu: "2"
            memory: "4Gi"
            storage: "10Gi"
          large:
            name: "Large"
            cpu: "4"
            memory: "8Gi"
            storage: "20Gi"

      valheim:
        name: "Valheim"
        image: "lloesche/valheim-server:latest"
        ports:
        - name: "game"
          port: 2456
          protocol: "UDP"
        - name: "game2"
          port: 2457
          protocol: "UDP"
        volumes:
        - name: "data"
          mount_path: "/config"
          sub_path: "data"
        env:
          SERVER_PUBLIC: "false"
        plans:
          small:
            name: "Small"
            cpu: "2"
            memory: "4Gi"
            storage: "5Gi"
          medium:
            name: "Medium"
            cpu: "3"
            memory: "6Gi"
            storage: "10Gi"