apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared-deployment
  namespace: gshub
spec:
  replicas: 1 
  selector:
    matchLabels:
      pod: cloudflared
  template:
    metadata:
      labels:
        pod: cloudflared
    spec:
      securityContext:
        sysctls:
        - name: net.ipv4.ping_group_range
          value: "65532 65532"  # Required for QUIC support
      containers:
      - image: cloudflare/cloudflared:latest
        name: cloudflared
        env:
        - name: TUNNEL_TOKEN
          valueFrom:
            secretKeyRef:
              name: gshub-secrets
              key: tunnel-token
        command:
        - cloudflared
        - tunnel
        - --no-autoupdate
        - --loglevel
        - info
        - --metrics
        - 0.0.0.0:2000
        - run
        livenessProbe:
          httpGet:
            path: /ready
            port: 2000
          failureThreshold: 1
          initialDelaySeconds: 10
          periodSeconds: 10